<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- <head> -->
<!-- <meta charset="utf-8"> -->
<!-- <title>document</title> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!-- <link -->
<!-- 	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" -->
<!-- 	rel="stylesheet" -->
<!-- 	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" -->
<!-- 	crossorigin="anonymous"> -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" -->
<!-- 	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" -->
<!-- 	crossorigin="anonymous"></script> -->
<!-- <script -->
<!-- 	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" -->
<!-- 	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" -->
<!-- 	crossorigin="anonymous"></script> -->
<!-- <script -->
<!-- 	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" -->
<!-- 	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" -->
<!-- 	crossorigin="anonymous"></script> -->
<!-- <script -->
<!-- 	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- <script src="https://kit.fontawesome.com/a076d05399.js" -->
<!-- 	crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript"> -->
// async function saveFiles() {
		
// 			var async_request=[];
// 			var responses=[];
// 			const qrelFileInput = document.getElementById('qrelfile');
// 			const uuidv4 = Date.now().toString(36) + Math.random().toString(36).substr(2);
// 			const qrelPromise = await generateBase64(qrelFileInput.files[0]);
// 			var qrelJson, runJson;
// 			var runJsonArray=[];
// 			//qrelPromise.then((qrelBase64) =>{
// 			var qrelFileName = qrelFileInput.files[0].name;
// 			qrelJson = {"fileName":qrelFileName,"fileData":qrelPromise};

// 			//iterating run files
// 			const runFileInput = document.getElementById('resultfile');
// 			for (const file of runFileInput.files) {
// 			const runPromise = await generateBase64(file);
// 			//runPromise.then((runBase64) =>{
// 			var runFileName = file.name;
// 			//var qrelFileData = ;
// 			runJson = {"fileName":runFileName,"fileData":runPromise};
// 			runJsonArray.push(runJson);
// 			//}).catch((errorMsg)=>{alert(errorMsg);
// 			//});
// 			}
			
			
// 			var finalJson = {"fileDetails":qrelJson,"uniqueId":uuidv4};
// 			const qrelJSON = JSON.stringify(finalJson);
// 			//alert(myJSON);
// 			//const obj = JSON.parse(myJSON);
// 			//alert(obj);
			
// 			$.ajax({
//         	    type: 'post',
//         	    url: '/saveFiles',
//         	    data: qrelJSON, //  JSON Data Here,
//         	    success: function(data) { 
//         	    	//var qresult = JSON.Parse(data);
//         	    	alert("Success");
        	    	
        	    	
//         	     },
//         	    error: function(jqXHR, textStatus, errorThrown) {
//         	              alert('Something is wrong. Please try again later.');
//         	          },
//         	    contentType: "application/json",
        	    
//         	    });
			
// 			runJsonArray.forEach((runFile) =>{
// 			    // you can push  any aysnc method handler
// 			    //alert("file save call");
// 			    var finalJson2 = {"fileDetails":runFile,"uniqueId":uuidv4};
// 			    const runJSON = JSON.stringify(finalJson2);
// 			    async_request.push($.ajax({
// 	        	    type: 'post',
// 	        	    url: '/saveFiles',
// 	        	    data: runJSON, //  JSON Data Here,
// 	        	    success: function(data) { 
// 	        	    	//var qresult = JSON.Parse(data);
// 	        	    	//alert("Success");
	        	    		        	    	
// 	        	     },
// 	        	    error: function(jqXHR, textStatus, errorThrown) {
// 	        	              alert('Something is wrong. Please try again later.');
// 	        	          },
// 	        	    contentType: "application/json",
// 	        	    //dataType: 'json'
// 	        	    }));
// 			});

// 			$.when.apply(null, async_request).done( function(){
// 			    // all done
// 			    console.log('all request completed')
// 			    console.log(responses);
// 			});
// 			sessionStorage.setItem("id",uuidv4);
// 			window.location.href = "tablesummary";
// 		}
// 		function  generateBase64(file){
// 			return new Promise((resolve, reject) => {
// 			const reader = new FileReader();
// 		    reader.readAsDataURL(file);
		    
// 		    reader.onload = () => {
// 		      let encoded = reader.result.toString().replace(/^data:(.*,)?/, '');
// 		      resolve(encoded);
				
// 		    };
// 		    reader.onerror = error => reject(error);
// 		  });
			
// 		}
<!-- </script> -->

<!-- <style> -->
/* .alert { */
/* 	background-color: blue; */
/* } */

/* .card { */
/* 	padding: 20px; */
/* 	border: black 1px solid; */
/* 	border-radius: 30px; */
/* } */

/* a { */
/* 	color: black; */
/* } */

/* a:visited { */
/* 	color: black; */
/* } */

/* a:hover { */
/* 	color: black; */
/* } */
<!-- </style> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<div style="background-color: #4E69A2; border: black" class="alert m-2"> -->
<!-- 		<a href="home"><i class="fas fa-home" style="font-size: 30px;"></i></a> -->
<!-- 		<a href="query"><i class="fas fa-file-upload" -->
<!-- 			style="font-size: 30px;"></i></a> <i class="fas fa-comment-alt-dots" -->
<!-- 			style="font-size: 30px;"></i> -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<div class="row m-0 h-100 my-auto p-3"> -->
<!-- 			<div class="col-md-6"> -->
<!-- 				<div class="card"> -->
<!-- 					<center> -->
<!-- 						<h3>Please upload your qrel file</h3> -->
<!-- 						<input required type="file" class="form-control" id="qrelfile" -->
<!-- 							accept=".txt" -->
<!-- 							style="width: 250px; background-color: #4E69A2; border: black" /> -->

<!-- 						<a style="width: 150px;background-color: #4E69A2;border: black" class="btn btn-primary btn-sm">Upload</a> -->
<!-- 					</center> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-6"> -->
<!-- 				<div class="card"> -->
<!-- 					<center> -->
<!-- 						<h3>Please upload your result files</h3> -->
<!-- 						<label class="form-label" for="customFile">Default file input example</label> -->
<!-- 						<input required type="file" class="form-control" id="resultfile" -->
<!-- 							accept=".txt" -->
<!-- 							style="width: 250px; background-color: #4E69A2; border: black" -->
<!-- 							multiple /> -->
<!-- 						<a style="width: 150px;background-color: #4E69A2;border: black" class="btn btn-primary btn-sm">Upload</a> -->
<!-- 					</center> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<center> -->
<!-- 			<a id="summary" href="#" onclick="saveFiles(); return false;" -->
<!-- 				style="width: 250px; background-color: #4E69A2; border: black" -->
<!-- 				class="btn btn-primary btn-lg m-4">Summary Results</a> <a -->
<!-- 				id="detail" href="#" -->
<!-- 				style="width: 250px; background-color: #4E69A2; border: black" -->
<!-- 				class="btn btn-primary btn-lg m-4">Detailed Results</a> -->

<!-- 		</center> -->
<!-- 	</div> -->
<!-- </body> -->
<!-- </html> -->