<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- 	<head> -->
<!-- 		<title>summary</title> -->
<!-- 		<meta charset="UTF-8" /> -->
<!-- 		<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!-- 		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
<!-- 		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- 		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<!-- 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<!-- 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- 		<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
<!-- 		<script type="text/javascript"> -->
// 		var graphDetails;

//         function summaryResult() {
//         	var uniqueId = sessionStorage.getItem("id");
//         	//alert(uniqueId);
//         	var finalJson = {"id":uniqueId};
// 		    const runJSON = JSON.stringify(finalJson);
//         	$.ajax({
//         	    type: 'POST',
//         	    url: '/summaryResult',
//         	    data: runJSON, //  JSON Data Here,
//         	    success: function(data) { 
//         	    	//var qresult = JSON.Parse(data);
//         	    	//alert(data[0][0]);
//         	    	var labels=[];
//         	    	var xaxis=[];
//         	    	var precisionaxis =[];
//         	    	var precisionData = Array.from(Array(data[0].length-1), () => new Array(4))
//         	    	var graphData = Array.from(Array(data[0].length-1), () => new Array(4))
//         	    	var tHead ='<tr><th>#</th>';
//         	    	for(var j = 0; j < data[0].length; j++) {
//         	    		tHead = tHead+'<th>'+data[0][j]+'</th>';
//         	    		if(j!=0)
//         	    			labels[j-1]=data[0][j];
//     	    	    }
//         	    	tHead = tHead+'</tr>';
//         	    	$('#tableHeadId').append(tHead);
//         	    	for(var i = 1; i < data.length; i++) {
//         	    	    //var measure = data[i];
//         	    	    var k=i;
//         	    	    var tBody = '<tr><th>'+k+'</th>';
    	    	    	
//         	    	    for(var j = 0; j < data[i].length; j++) {
//         	    	    	tBody = tBody+'<td>'+data[i][j]+'</td>';
//         	    	    	if(i>2 && i<6 && j>0){
//         	    	    		xaxis[i-3]=data[i][0];
//         	    	    		graphData[j-1][i-3]= data[i][j];
//         	    	    	}
//         	    	    	if(i>20 && j>0){
//         	    	    		precisionaxis[i-21]=data[i][0];
//         	    	    		precisionData[j-1][i-21]= data[i][j];
//         	    	    	}
//         	    	    }
//         	    	    tBody = tBody+'</tr>';
//         	    	    $('#tableBodyId').append(tBody);
        	    	    
//         	    	}
//         	    	graphDetails={"labels":labels,"xaxis":xaxis,"graphData":graphData};
//         	    	var precisionGraphDetails={"precisionaxis":precisionaxis,"precisionData":precisionData};
//         	    	sessionStorage.setItem("graphDetails",JSON.stringify(graphDetails));
//         	    	sessionStorage.setItem("precisionGraphDetails",JSON.stringify(precisionGraphDetails));
//         	     },
//         	    error: function(jqXHR, textStatus, errorThrown) {
//         	              alert('Something is wrong. Please try again later.');
//         	          },
//         	    contentType: "application/json",
//         	  //  dataType: 'json'
//         	    });
//         }
//         window.onload = summaryResult;
<!--         </script> -->
<!-- 		<style> -->
/* 			.alert { */
/* 				background-color: blue; */
/* 			} */
/* 			a { color: black; } */
/* a:visited { color: black; } */
/* a:hover { color: black; } */
<!-- 		</style> -->
<!-- 	</head> -->
<!-- 	<body> -->
<!-- 		<div style="background-color: #4E69A2;border: black" class="alert m-2"> -->
<!-- <a href="home"><i class="fas fa-home" style="font-size:30px;"></i></a> -->
<!-- <a href="query"><i class="fas fa-file-upload" style="font-size:30px;"></i></a> -->
<!-- <i class="fas fa-comment-alt-dots" style="font-size:30px;"></i> -->
<!-- <i class="fas fa-file-download" style="font-size:30px;align:right;"></i> -->
<!-- <a href="graphsummary"><i class="fas fa-chart-line" style="font-size:30px;align:right;"></i></a> -->
<!-- 		</div> -->
<!-- 		<div class="container my-auto"> -->
<!-- 		<table class="table" id="tableId"> -->
<!-- 			<thead id = "tableHeadId" class="thead-dark"> -->
			
<!-- 			</thead> -->
<!-- 			<tbody id ="tableBodyId"> -->
				
<!-- 			</tbody> -->
<!-- 		</table> -->
<!-- 	</div> -->
<!-- </body> -->
<!-- </html> -->